body {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background: url(../images/background.jpg), no-repeat;
  background-size: 50%;
}

body .container {
  width: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 102px auto 0 auto;
  padding: 10px;
}

body h1 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  color: white;
  padding-left: 150px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  background-color: #1d4801;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  text-shadow: 0 0 10px #fff;
}

body .card {
  position: relative;
  width: 800px;
  height: 320px;
  margin: 30px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

body .card:before, body .card:after {
  content: "";
  display: table;
  /* DISABLE MARGIN COLLAPSING */
  clear: both;
}

body .card_left {
  position: relative;
  z-index: 0;
  width: 40%;
  height: 320px;
  float: left;
}

body .card_left img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
}

body .card_right {
  position: relative;
  z-index: 0;
  width: 60%;
  float: left;
  background: #000000;
  height: 320px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}

body .card_right h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  font-size: 30px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

body .card_right_details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}

body .card_right_details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

body .card_right_review p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

body .card_right_button {
  position: absolute;
  bottom: 20px;
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}

body .card_right_button a {
  color: #ffda00;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url(../images/triangle.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

body .card_right_button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(../images/triangleb.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

/*# sourceMappingURL=style.css.map */